@font-face {font-family: "Stick-A-RoundW00-Stick-A-Round";
    src: url("https://db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.eot");
    src: url("https://db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/5c8036fec9d614a90b202dbe1c3b8395.svg#Stick-A-RoundW00-Stick-A-Round") format("svg");
}


html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after{
    box-sizing: inherit;
  }
  

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    margin:0;
    padding: 0;
}


/*--UTILITIES--*/
a {
    text-decoration: none;
}

/*--CONTAINERS--*/
.nav-container {
    display: flex;
    position: relative;
    width: 100%;
    background: white;
    justify-content: space-between;
    border-bottom: solid 5px #f30501; 
    box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.3);
}

.hero-container, {
display: flex;
height: 100%;
position:relative;
flex: 1;
margin: 0;
padding:0;
}

.history-container {
    display: flex;
    position: relative;
    width: 100%;
    flex:1;
    margin: 0;
    padding: 0;
    background-color: #46a916;
}

.history-content-container {
    display: flex;
    flex-direction: row;
    position:relative;
    margin: 0;
    padding: 60px;
}

.call-to-action-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 0;
    background-color: #ffdd00;
}

.footer-container{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        flex: 1;
        margin: 0;
        padding: 0;
        background-color: #f30501;
}









/*--ITEMS--*/

/*nav items*/
.nav-logo img {
    width: 40%;
    margin-left: 50px;
}

.nav-menu {
    display: flex;
    align-items: center;

}
.nav-menu ul {
}
.nav-menu li {
    list-style: none;

}

.nav-menu a{
    color: #f30501;
    font-family: Helvetica, sans-serif;
    font-size: 21px;
    padding: 20px;
}

.nav-menu a:hover{
    color: white;
    background: #f30501;
}


.nav-search i {
    display: flex;
    color: #f30501;
    margin: 10px;
    padding: 10px;
}



/*hero items*/

.hero-container img {
    display: block;
    object-fit:cover;
    width: 100%;
    height: 100%;
}

.hero-text {
    position: absolute;
    top: 10%;
    left: 0;
    font-family: Stick-A-RoundW00-Stick-A-Round,sans-serif;
    color: white;
    font-size: 3rem;
    padding: 0;
    padding-left: 3rem;
    margin: 0;

}

/*product items*/

.products-container ul {
    margin: 0;
    padding:0;
    display:flex;
    flex-flow: row wrap;
    background-color: #f30501;  
}
.products-container li{
    list-style: none;
    padding:0;
}

.product {
width: 25%;
}

/*history items*/
.history-img {
    display: flex;
    flex: 2;
    margin: 0;
    padding: 0;
}
.history-link {
    display:flex;
    flex: 2;
    flex-direction: column;
    padding-left: 2rem;
    margin: 0;

}
.history-link h2 {
    font-family: Stick-A-RoundW00-Stick-A-Round,sans-serif;
    font-size: 2rem;
    color: white;
}

.history-link h3 {
    font-family: Helvetica, sans-serif;
    font-size: 19px;
    color: white;
}

/*call to action items*/
.call-to-action-container h2 {
    font-family: Stick-A-RoundW00-Stick-A-Round,sans-serif;
    font-size: 3rem;
    color: #f30501;
    text-align: center;
}

.call-to-action-images {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.call-to-action-images .img-1 P {
    position: absolute;
    display: flex;
    flex: 2;
    top: 10%;
    left: 20%;
    width: 15rem;
    text-align: center;
    font-family: Stick-A-RoundW00-Stick-A-Round,sans-serif;
    font-size: 3rem;
    color: white;   
}

.call-to-action-images .img-2 P {
    position: absolute;
    display: flex;
    flex: 2;
    top: 2%;
    left: 53%;
    width: 15rem;
    text-align: center;
    font-family: Stick-A-RoundW00-Stick-A-Round,sans-serif;
    font-size: 3rem;
    color: white;   
}

.call-to-action-button {
    color: #f30501;
    font-family: Helvetica, sans-serif;
    font-size: 19px;
    border: #f30501 solid 1px;
    border-radius: 2rem;
    width: 17rem;
    text-align: center;
    margin: 1rem;
}

/*footer items*/
.footer-menu {
    display: flex;
    align-items: center;
}


.footer-menu li {
    list-style: none;
}

.footer-menu a{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 21px;
    padding: 20px;
}

.footer-menu a:hover{
    text-decoration: underline;
}

.social-media, .country {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
}

.country i,  .country p {
    display: flex;
    color: white;
    margin: 1px;
}

.footer-container p {
    color: white;
    margin: 3rem;
    padding: 1rem;
    text-align: center;

}
